<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>

        <!-- properties -->
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.url">jdbc:h2:file:./target/database/annuaire</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <!-- mapping files -->
        <mapping class="fr.miage.moureypierson.model.Annuaire"/>
        <mapping class="fr.miage.moureypierson.model.Entreprise"/>
        <mapping class="fr.miage.moureypierson.model.Message"/>
        <mapping class="fr.miage.moureypierson.model.Abonne"/>
        <mapping class="fr.miage.moureypierson.model.Particulier"/>

    </session-factory>

</hibernate-configuration>